<!--レシピ一覧に関するコード-->

<html>
  <body>
    <div class="recipes-new-wrapper">
      <div class="container recipes-new-container">
        <div class="row">
          <div class="col-md-offset-5 index-wrap">
              <p class="index"><input type="text" class="index-text" placeholder="材料を入力"><button type="submit"></button></p>
          </div>
          <div class="col-lg-12 content">
            
            <!--レシピ1つでリンクさせるようにする-->
            <!-- form_tag%>-->
            <!--top-->
            <div class="col-md-3 recipes">
              <div class="recipes-top">
                <img src=url('images.jpeg') width="285" height="285"><!--レシピの画像をいれる-->
              </div>
              
              <!--bottom-->
              <div class="recipes-bottom">
                <div class="recipes-discription">
                  <h4>最高に美味しい！最高に美味しい</h2>
                  <p>最高に美味しい！最高に美味しい！最高に美味しい！最高に美味しい！最高に美味しい！最高に美味しい！最高に美味しい！</p><!--レシピのポイント <p>-->
                </div>
                
                <div class="recipes-favorite">
                  <!--link_to お気に入りアイコン-->
                  <!--end-->
                   <!--link_toコメントアイコンを表示-->
                  <!--end  -->
                  <p><img src="images/heart-black.png">
                    <img src="images/comment.png">
                    Salihiro
                  </p>
                </div>
              </div>
            </div>
            
            <!--end %>-->
          
            <div class="col-md-3 recipes">
              <div class="recipes-top">
                 <img src=url('images.jpeg') width="285" height="285"><!--レシピの画像をいれる-->
              </div>
              <!--bottom-->
              <div class="recipes-bottom">
                <div class="recipes-discription">
                  <h4>最高に美味しい！最高に美味しい</h2>
                  <p>最高に美味しい！最高に美味しい！最高に美味しい！最高に美味しい！最高に美味しい！最高に美味しい！最高に美味しい！</p><!--レシピのポイント <p>-->
                </div>
                <div class="recipes-favorite">
                  <p><img src="aaa"><!--お気に入りアイコン inline-block-->
                  <img src="aaa">
                  Salihiro
                  <!--コメントアイコンinline-block--></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>


<!--コメント-->
<!--次は実際にサーバーサイドの方を実装していこう
モデルは作成済
コントローラーを作成しよう-->