<!--レシピ一覧に関するコード-->

<html>
  <body>
    <div class="recipes-index-wrapper">
      <div class="container recipes-index-container">
        
        
        <div class="row">
          <div class="col-md-6 offset-md-3 mb-3">
            <h2 class="text-center mt-4 pt-2 pb-2 text-white bg-success">お茶漬けレシピ 一覧</h2>
          </div>
            
          <div class="offset-md-3">
            <p>お茶漬けレシピ一覧です。自分の好きなお茶漬けレシピを見つけて真似して作ってみたり<br>
            アレンジしてみたりして、お茶漬けを楽しみましょう！材料で検索できます！</p>
          </div>
        </div>
          
          <div class="offset-md-5 offset-sm-5">
                <p class="index"><input type="text" class="index-text" placeholder="材料を入力"><button type="submit"></button></p>
          </div>
        
        <div class="row">
          <div class="col-md-12 offset-md-1 content">
            
            <!--レシピ1つでリンクさせるようにする-->
            <!--< link_to recipes_show_path do %>-->
            <!-- form_tag recipe detail_path %>-->
            <!--top-->
    
            
            <div class="col-md-3 recipes">
              <div class="recipes-top">
                <!--レシピの画像をいれる ↓ recipe.image-->
                <img src=url('images.jpeg')>
              </div>
              
              <!--bottom-->
              <div class="recipes-bottom">
                <div class="recipes-discription">
                  <!--タイトル ↓ recipe.title-->
                  <h4>最高に美味しい！最高に美味しい</h4>
                  <!--ポイント ↓ recipe.discription-->
                  <p>最高に美味しい！最高に美味しい！最高に美味しい！最高に美味しい！最高に美味しい！最高に美味しい！最高に美味しい！</p>
                </div>
            
                <div class="recipes-favorite">
                  <!--link_to お気に入りアイコン-->
                  <!--end-->
                   <!--link_toコメントアイコンを表示-->
                  <!--end %>  -->
                  <p><img src="images/heart-black.png">
                    <img src="images/comment.png">
                    Salihiro
                  </p>
                </div>
              </div>
            </div>
            
          <!--< end %>-->
          
            <div class="col-md-3 recipes">
              <div class="recipes-top">
                 <img src=url('images.jpeg')><!--レシピの画像をいれる-->
              </div>
              <!--bottom-->
              <div class="recipes-bottom">
                <div class="recipes-discription">
                  <h4>最高に美味しい！最高に美味しい</h2>
                  <p>最高に美味しい！最高に美味しい！最高に美味しい！最高に美味しい！最高に美味しい！最高に美味しい！最高に美味しい！</p><!--レシピのポイント <p>-->
                </div>
                <div class="recipes-favorite">
                  <p><img src="aaa"><!--お気に入りアイコン inline-block-->
                  <img src="aaa">
                  Salihiro
                  <!--コメントアイコンinline-block--></p>
                </div>
              </div>
            </div>
            
            
            <div class="col-md-3 recipes">
              <div class="recipes-top">
                 <img src=url('images.jpeg')><!--レシピの画像をいれる-->
              </div>
              <!--bottom-->
              <div class="recipes-bottom">
                <div class="recipes-discription">
                  <h4>最高に美味しい！最高に美味しい</h2>
                  <p>最高に美味しい！最高に美味しい！最高に美味しい！最高に美味しい！最高に美味しい！最高に美味しい！最高に美味しい！</p><!--レシピのポイント <p>-->
                </div>
                <div class="recipes-favorite">
                  <p><img src="aaa"><!--お気に入りアイコン inline-block-->
                  <img src="aaa">
                  Salihiro
                  <!--コメントアイコンinline-block--></p>
                </div>
              </div>
            </div>
            
            
            <div class="col-md-3 recipes">
              <div class="recipes-top">
                 <img src=url('images.jpeg')><!--レシピの画像をいれる-->
              </div>
              <!--bottom-->
              <div class="recipes-bottom">
                <div class="recipes-discription">
                  <h4>最高に美味しい！最高に美味しい</h2>
                  <p>最高に美味しい！最高に美味しい！最高に美味しい！最高に美味しい！最高に美味しい！最高に美味しい！最高に美味しい！</p><!--レシピのポイント <p>-->
                </div>
                <div class="recipes-favorite">
                  <p><img src="aaa"><!--お気に入りアイコン inline-block-->
                  <img src="aaa">
                  Salihiro
                  <!--コメントアイコンinline-block--></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

