<html>
  <body>
    <div class="recipes-new-wrapper">
      <div class="container">
        <div class="row">
          <div class="offset-md-2">
            <div class="heading mb-3">
              <h2 class="text-center mt-4 pt-2 pb-2 text-white bg-success">お茶漬けレシピ 投稿</h2>
            </div>
            
            <div class="heading">
              <p>お茶漬けにはバリエーションがたくさんあります。だしやトッピングを変えることで様々な味を表現することができます。<br>
              自分のオリジナルのお茶漬けを投稿して日本のお茶漬けを盛り上げましょう！</p>
            </div>
            
            <%= render "form" %>
            
            
        </div>
    </div>
  </body>
</html>