<!--レシピの詳細-->

<html>
<body>
  
  <div class="recipes-show-wrapper">
    <div class="container show-container">
        <!--@detail.***から持ってくる-->
          <div class="row">
            <div class="col-md-12 p-0">
              <div class="text-center show-title">
                <h2 class="bg-success text-white pt-2 pb-2">めかぶとお茶漬けの相性抜群</h2>
                <!--レシピのタイトル-->
                <p class="text-left"><img src="aaa">Salihiro</p>
                <!--ユーザーの画像 user_idがあるので-->
                <!--<h5>ユーザー名</h5>-->
                <!--ユーザー名-->
              </div>
          </div>
      <div class="row">
        <div class="col-md-12 ">
          <div class="text-center show-image">
            <img src="aaa"><!--レシピの画像-->
          </div>
          
          
          <!--要素の数によって両端に振り分ける-->
            <!--n=material.length / 2     ex) material.length=16の時、n=8となるので両端に8コずつ並ぶ-->
            <div class="show-material">
              <h3 class="pt-2 pb-2">材料</h3>
          
              <!--%= for i  in  0..n+1-->
                <ul class="show-left-material">
                  <!--<div>%= material[i]</div>-->
                  <li>昆布だし</li>
                  <li>カツオだし</li>
                  <li>煮干し</li>
                  <li>めかぶ</li>
                  <li>アカモク</li>
                </ul>
              <!--end-->
                
              
              <!--if material.length > 5 -->
                <!--%= for(i = n + 1 ; i < material.length ; i++)-->
                  <ul class="show-right-material">
                    <!--<div>%= material[i]</div>-->
                    <li>昆布だし</li>
                    <li>カツオだし</li>
                    <li>煮干し</li>
                    <li>めかぶ</li>
                    <li>アカモク</li>
                  </ul>
                <!--end-->
              <!--end-->
            </div>
          
          
          <div>
            <h3 class="pt-2 pb-2">作り方</h3>
            <p>お湯をいれる切るお湯をいれる切るお湯をいれる切るお湯をいれる切るお湯をいれる切るお湯をいれる切るお湯をいれる切るお湯をいれる切る
            お湯をいれる切るお湯をいれる切るお湯をいれる切るお湯をいれる切るお湯をいれる切るお湯をいれる切るお湯をいれる切るお湯をいれる切る
            お湯をいれる切るお湯をいれる切るお湯をいれる切るお湯をいれる切るお湯をいれる切るお湯をいれる切るお湯をいれる切る
            お湯をいれる切るお湯をいれる切るお湯をいれる切るお湯をいれる切るお湯をいれる切るお湯をいれる切るお湯をいれる切るお湯をいれる切る<!--作り方--></p>
          
          
            <h3 class="pt-2 pb-2">感想</h3>
            <p>最高に美味しい最高に美味しい最高に美味しい最高に美味しい最高に美味しい最高に美味しい最高に美味しい最高に美味しい
            最高に美味しい最高に美味しい最高に美味しい最高に美味しい最高に美味しい最高に美味しい最高に美味しい最高に美味しい最高に美味しい
            最高に美味しい最高に美味しい最高に美味しい最高に美味しい最高に美味しい最高に美味しい最高に美味しい最高に美味しい最高に美味しい<!--感想-->
            最高に美味しい最高に美味しい最高に美味しい最高に美味しい最高に美味しい最高に美味しい最高に美味しい最高に美味しい最高に美味しい
            最高に美味しい最高に美味しい最高に美味しい最高に美味しい最高に美味しい最高に美味しい最高に美味しい最高に美味しい最高に美味しい
            最高に美味しい最高に美味しい最高に美味しい最高に美味しい最高に美味しい最高に美味しい最高に美味しい最高に美味しい最高に美味しい
            最高に美味しい最高に美味しい最高に美味しい最高に美味しい最高に美味しい最高に美味しい最高に美味しい最高に美味しい最高に美味しい
            最高に美味しい最高に美味しい最高に美味しい最高に美味しい最高に美味しい最高に美味しい最高に美味しい最高に美味しい最高に美味しい
            最高に美味しい最高に美味しい最高に美味しい最高に美味しい最高に美味しい最高に美味しい最高に美味しい最高に美味しい最高に美味しい
            最高に美味しい最高に美味しい最高に美味しい最高に美味しい最高に美味しい最高に美味しい最高に美味しい最高に美味しい最高に美味しい
            最高に美味しい最高に美味しい最高に美味しい最高に美味しい最高に美味しい最高に美味しい最高に美味しい最高に美味しい最高に美味しい
            最高に美味しい最高に美味しい最高に美味しい最高に美味しい最高に美味しい最高に美味しい最高に美味しい最高に美味しい最高に美味しい
            最高に美味しい最高に美味しい最高に美味しい最高に美味しい最高に美味しい最高に美味しい最高に美味しい最高に美味しい最高に美味しい
            最高に美味しい最高に美味しい最高に美味しい最高に美味しい最高に美味しい最高に美味しい最高に美味しい最高に美味しい最高に美味しい
            最高に美味しい最高に美味しい最高に美味しい最高に美味しい最高に美味しい最高に美味しい最高に美味しい最高に美味しい最高に美味しい
            最高に美味しい最高に美味しい最高に美味しい最高に美味しい最高に美味しい最高に美味しい最高に美味しい最高に美味しい最高に美味しい
            
            </p>
          </div>
        </div>    
        </div>
      </div>      
    </div>      
  </div>      
  
  <div id="page_top">
    <p id="return">TOP</p>
  </div>
  
  
  
  
  <script>
  // 処理開始
    jQuery(function(){
      var pagetop = $('#page_top');
      // 実験結果＝＞hideにすると非表示になって何も起こらない
      // showで再度表示させるとアニメーションが起こる！
      pagetop.hide();
      pagetop.show();
      
      $(window).scroll(function(){
       
        // 100pxスクロールしたら
        if($(this).scrollTop() > 70){
          pagetop.stop().animate({
          'bottom': '50px' //下から50pxの位置に
        }, 300);// フェードインさせる
        }else{
          pagetop.stop().animate({
          'bottom': '-50px' //下から-50pxの位置に
        }, 300);  // フェードアウトさせる
        }
      });
        // pagetopをクリックしたら
        pagetop.on('click',function(){
          $('body,html').animate({scrollTop: 0 }, 500);
          return false;
        });
     
    });
  </script>
</body>
</html>