<!--レシピの詳細-->

<html>
<body>
  
<div class="recipes--wrapper">
  <div class="container recipes-new-container">
    <div class="row">
      
    
    <!--レイアウトを考えよう-->
    
    <!--表示するもの-->
    <!--@detail.***から持ってくる-->
    <!--ユーザーの画像 user_idがあるのでそこからテーブル結合して持ってこれるかな-->
    <!--ユーザー名-->
    <!--レシピのタイトル-->
    <!--レシピの画像-->
    <!--材料--->
    <!--作り方-->
    <!--感想-->
     
      
    
    
</body>
    
</html>