
<!--ログイン画面を作成-->

<div class="user-index-wrapper">
    <div class="container">
        <div class="row">
            
            <h3 class="col-md-12 offset-md-5 mt-3">新規登録</h3>
            <p class="col-md-12 offset-md-3 mt-3">アカウントを作成する画面です。アカウント作成に必要な項目を入力してください。</p>
        
        <div class="col-md-5 offset-md-4">
            <input type="text" class="col-md-8 mb-2 d-block" placeholder="Name">
            <input type="text" class="col-md-8 mb-2 d-block" placeholder="Email">
            <input type="text" class="col-md-8 mb-2 d-block" placeholder="Password">
            <input type="text" class="col-md-8 mb-2 d-block" placeholder="Confirmation Password">
            <input type="file" class="col-md-4 mb-2"><a>自分の画像を選択</a>
            
        </div>
        
        
        </div>
        
        
        
        
    </div>
    
</div>