

<div class="pages-index-wrapper">
  
  <div class="container">
    
    <div class="row">
      
      
      <div class="col-md-4 top-img float-left">
        <img src="aaa" alt="お茶漬けの画像">
      </div>
      
      
      <div class="float-left col-md-8">
        <div class="col-md-5 offset-md-2 top-title1">
          <h2>お茶漬けとともに</h2>
          
        </div>
         
        <div class="col-md-5 offset-md-5 top-title2">
          <h2>ひとときを</h2>
        </div>
      </div>
      
      
      
        
        
        
      
    </div>    
    
  </div>
  
  
  
</div>