// bootstrap導入
@import "bootstrap";

// レシピ一覧ページ(recipes/new)
@import "recipes";

// レシピ詳細ページ(recipes/show)
@import "show";
@import "new";
@import "users";
@import "sessions";
@import "pages";
@import "favorites";
@import "search";

body{ 
  padding-top: 80px;
}

.navigation{
  background-color:lightgreen;
  color:seagreen;
  outline:none;
  
}


.alert{
  margin-bottom:0px;
  position:fixed;
  width:100%;
  z-index:10000;
}

i{
  outline:none;
  color:green;
}


.nav-li{
  font-size: 20px;
}



@media screen and ( min-width:375px) and ( max-width:425px) {
  
  .container ul{
    margin-left:45px;
  }
  
  .icon i{
    margin-right:40px;
    text-align: center;
  }
  
  
}
