// bootstrap導入
@import "bootstrap";


// レシピ一覧ページ(recipes/new)
@import "recipes";

// レシピ詳細ページ(recipes/show)
@import "show";
@import "new";
@import "users";
@import "sessions";
@import "pages";


.navigation{
  background-color:lightgreen;
  color:seagreen;
}

.alert{
  margin-bottom:0px;
  position:fixed;
  width:100%;
  z-index:10000;
}