.recipes-new-wrapper{
  
  .text-form{
    width:320px;
    outline:none;
    border-color:lightgreen;
  }
  
  
  .heading-sentence{
    color: red;
  }
  
  
  label{
    margin-bottom:10px;
  }
  
  input{
    margin-bottom:20px;
    border-radius:none;
    
    &:hover{
      border-color:limegreen;
    }
  }
  
  
  .material-name{
    width:100px;
    outline:none;
    border-color:lightgreen;
    
    &:hover{
      border-color:limegreen; 
    }
  }
  
  
  
  .material-quantity{
    width:100px;
    outline:none;
    border-color:lightgreen; 
    
    &:hover{
      border-color:limegreen;
    }
  }
  
  
  .method{
    outline:none;
    border-color:lightgreen; 
    
    &:hover{
      border-color:limegreen;
    }
    
  }
  
  
  .point{
    width:400px;
    height:200px;
    
    &:hover{
      border-color:limegreen;
    }
    
  }
  
  .impression{
    width:400px;
    height:200px;
    
    &:hover{
      border-color:limegreen;
    }
    
  }
  
  textarea{
    margin-bottom:30px;
    outline:none;
    border-color:lightgreen; 
    
    &:hover{
      border-color:limegreen;
    }
  }
  
  .add-material{
    border:1px solid green;
    outline:none;
    background-color: lightgreen;
    padding-top: 2px;
    border-radius: 20%;
    text-decoration: none;
    text-align: center;
  
     &:hover{
      outline:none;
     transform: scale(1.2);
     transition-duration: 0.001s;
    }
  }
  
  .remove-material{
    border:1px solid green;
    outline:none;
    background-color: lightgreen;
    padding-top: 2px;
    border-radius: 20%;
    text-decoration: none;
    text-align: center;
    
    &:hover{
      outline:none;
     transform: scale(1.2);
     transition-duration: 0.001s;
    }
  }
  
  .add-method{
    border:1px solid green;
    outline:none;
    background-color: lightgreen;
    padding-top: 2px;
    border-radius: 20%;
    text-decoration: none;
    text-align: center;
    
    &:hover{
      outline:none;
     transform: scale(1.2);
     transition-duration: 0.001s;
    }
  }
  
  .remove-method{
    border:1px solid green;
    outline:none;
    background-color: lightgreen;
    padding-top: 2px;
    border-radius: 20%;
    text-decoration: none;
    text-align: center;
    
    &:hover{
      outline:none;
     transform: scale(1.2);
     transition-duration: 0.001s;
    }
  
  }
  
  
  @media screen and ( min-width:375px) and ( max-width:425px) {
    
    .point{
      width:400px;
      height:200px;
    
      &:hover{
        border-color:limegreen;
      }
    }
    
    
    .impression{
      width:400px;
      height:200px;
    
      &:hover{
        border-color:limegreen;
      }
    }
  }
  
  @media screen and ( max-width:375px){
    .point{
      width:370px;
      height:200px;
    
      &:hover{
        border-color:limegreen;
      }
    }
    
    
    .impression{
      width:370px;
      height:200px;
    
      &:hover{
        border-color:limegreen;
      }
    }
  }
  
  
  @media screen and ( min-width:768px) and ( max-width:1440px){
    .sm-br{
      display:none;
    }
  }
}


.user-login-wrapper{
  .error-message{
    color: red;
    font-size: 16px;
  }
}