
.pages-index-wrapper{
  
  .top-img{
    margin-top:230px;
    
  }
  
  
  .top-title1{
    margin-top:230px;
    color:darkgreen;
    text-shadow: 5px 5px 2px lightgreen;
  }
  
  .top-title2{
    margin-top:15px;
    color:darkgreen;
    text-shadow: 5px 5px 2px lightgreen;
  }
  
  
  
}