
.recipes-show-wrapper{
  
  // .show-title{
  // background: ivory; 
  // border:1px solid;
  // height:74px;
   
  // }

  i{
     color:red;
  }


  .favorites_count{
    color: green;
  }
  
  .comment-count{
    color: green;
  }

  .user-img{
    width: 3%;
    height: 3%;
  }

  
  // img{
  //   margin:auto;
  // }
  
  
  
  .table-color td{
    border-top:solid 1px gray;
  }


  .thead-border{
    border-top: none;
    border-bottom: solid 2px green;
  }

  .show-image{
    margin-bottom:30px;
  }
  
  
  .image-size{
    width: 300px;
    height: 300px;
  }
  
  
  h2{
    margin-top:20px;
  }
  
  .show-user-name{
   margin-bottom:30px; 
  }
  
  
  .show-left-material{
    // display:inline;
    float:left;
    padding-left:30px;
  }
  
  
  .show-right-material{
    // display:inline;
    float:left;
    margin-left:180px;
  }
  
  
  .show-material{
    padding:0;
  }
  
  
  .show-material:after{
    clear:both;
    display:block;
    content:" ";
  }
  
  
  h3{
    background-color: ivory;
    border-top: 1px solid peru;
    border-bottom: 1px solid peru;
    padding-left:15px;
    padding-right:0;
  }
  
  
  .favorite-img{
     width:25px;
     height:25px;
  }
  
  
  .comment{
    outline:none;
    border-color:lightgreen;
    
    &:hover{
      border-color:limegreen;
    }
  }
}



#page_top{
  width: 50px;
  height: 50px;
  position: fixed;
  right: 0;
  bottom: 0;
  background: #3f98ef;
  opacity: 0.6;
  border-radius: 50%;
  margin-right:0px;
}


#return{
  margin-top:17px;
  margin-left:10px;
}


