
.user-index-wrapper{
  
  position:relative;
  
  .image{
    position: absolute;
    // width: 100px;
    // height: 100px;
    top: 300px;
    left: 350px;
  }
  
  @media screen and (max-width: 617px) {
      
  .image{
    display:none;
  }
    
  }
  
  
}

