.user-new-screen{
  background-image: url("/assets/chazuke.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.user-index-wrapper{
  
  .user-edit-screen{
    background-image: url("/assets/chazuke.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }
  
  .create{
    background-color:palegreen;
    margin-top: 70px;
    padding-bottom:40px;
    border-radius:10px;
  }
  
  .login{
    background-color:palegreen;
    margin-top:40px;
    border-radius:10px;
  }
  
  .title{
    margin-left:32px;
  }
  
  .image{
    position: absolute;
    // width: 100px;
    // height: 100px;
    top: 300px;
    left: 350px;
  }
  
  @media screen and (max-width: 617px) {
    
    .title{
      margin-left:0;
    }
      
    .image{
      display:none;
    }
  }
}

